<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Restaurant Management System</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:fragment="header">
    <div class="container">
        <div id="branding">
            <h1><span class="highlight">Restaurant</span> Management System</h1>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/dishes}">Dishes</a></li>
                <li><a th:href="@{/categories}">Categories</a></li>
                <li><a th:href="@{/employees}">Employees</a></li>
                <li><a href="/logout" id="logout"><h4>LOGOUT</h4></a></li>
            </ul>
        </nav>
    </div>
</header>

</body>
</html>

