<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<h1>List of Categories</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.name}"></td>
        <td>
            <a th:href="@{/categories/edit/{id}(id=${category.id})}">Edit</a>
            <a th:href="@{/categories/delete/{id}(id=${category.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/categories/new}">Add New Category</a>
<a th:href="@{/}">Home</a>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
